cointicker{
	display: block;
	position: fixed;
	padding: 12px 4px;
	border-radius: 2px;
	z-index: 999999;
	border: 1px solid #ccc;
	width: 280px;
	box-sizing: border-box;
	padding: 16px 4px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	transition: all .2s ease-in-out;
}
cointicker:hover{
	opacity: 1 !important;
}
cointicker:hover #btn-close{
	opacity: 1 !important;
}
cointicker main{
	/*min-width: 100px;*/
	/*min-height: 64px;*/
	/*padding: 8px 2px;*/
	width: 100%;
	box-sizing: border-box;
}
cointicker main #btn-close{
	position: absolute;
	top: 0;
	right: 0;
	/*border: 1px solid #fff;*/
	padding: 0 8px;
	font-size: 12px;
	border-radius: 1px;
	cursor: pointer;
	opacity: 0.2;
	transition: all .2s ease-in-out;
}
cointicker main #btn-close:hover{
	background-color: red;
	color: #fff;
	font-weight: bold;
}
cointicker main .coin-list{
	margin: 2px 0;
}
cointicker main .coin-name,
cointicker main .coin-price{
	padding: 2px 8px;
	font-size: 14px;
	font-weight: bold;
	/*border: 1px solid #ccc;*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
}
/*cointicker main .coin-name::after{
	content: ":";
}*/
cointicker main .coin-name{
	float: left;
	width: 160px;
	text-align: right;
}
cointicker main .coin-price{
	float: inherit;
	min-width: 90px;
	text-align: left;
}